/*
  Stolen from Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Lato", sans-serif;
  --black: #000000;
  --black: #080814;
  /* background: linear-gradient(to right, #1a0315, #291e2d, #1a0315); */
  /* background: linear-gradient(45deg, #282972, #283061, #282972); */
  /* background-color: #1c1c5c;
  /* opacity: 0.8; */
  /* background-image: radial-gradient(#c2be7080 0.5px, #1c1c5c 0.5px);
  background-color: #1c1c5c;
  background-size: 10px 10px; */

  /* background-color: #1c1c5c;
  background-image: radial-gradient(#c2be70 2px, transparent 2px),
    radial-gradient(#c2be70 2px, #1c1c5c 2px);
  background-size: 80px 80px;
  background-position:
    0 0,
    40px 40px; */

  /* background-color: #1c1c5c; */
  /* opacity: 0.5; */
  /* background-image: radial-gradient(#c2be70 2px, #1c1c5c 2px); */
  /* background-size: 40px 40px; */
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
  height: 100%;
}

@font-face {
  font-family: "Pixelify Sans Regular";
  font-style: normal;
  font-weight: 400;
  src: url("/static/fonts/Pixelify_Sans/static/PixelifySans-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Arcade Classic";
  font-style: normal;
  font-weight: 400;
  src: url("/static/fonts/arcade_classic_2/ARCADECLASSIC.ttf")
    format("truetype");
}
